@import url('/styles/reset.css');
@import url('/styles/colors.css');
@import url('/styles/header.css');

:root {
  --transition-time: 150ms;
  --transition-time-short: calc(var(--transition-time) / 2);

  font-family: 'Source Code Pro', monospace;
  background-color: var(--background);
  color: var(--text);
}

html, body {
  margin: 0;
}

body > .root {
  padding: 1rem;
}

.active-page {
  color: var(--primary);
}

:not(nav.root) > a {
  color: var(--link);
}
