{{> header}}
<main class="root">
  <main id="chat-display"></main>
  <footer id="chat-input-container">
    <input id="chat-input" type="text" placeholder="type here, enter to send">
  </footer>
</main>
